@{
    ViewData["Title"] = "Fees";
}

<div id="feeContent">
    <h2>QAEA charges the following fees:</h2>
    <table>
        <tr>
            <th>Service</th>
            <th>Fee</th>
        </tr>
        <tr>
            <td>All Assessments</td>
            <td>$875/hour</td>
        </tr>
        <tr>
            <td>Therapy</td>
            <td>$1,250/hour</td>
        </tr>
        <tr>
            <td>Medication</td>
            <td>An arm and a leg</td>
        </tr>
        <tr>
            <td>Tutoring</td>
            <td>$250/hour</td>
        </tr>
        <tr>
            <td>Specialist Consultation</td>
            <td>$200/referral</td>
        </tr>
        <tr>
            <td>School Meeting Advocation</td>
            <td>Free!!!</td>
        </tr>    
    </table>
</div>