<div id="footer">
    <br>
    <br>
    <hr>
    <br>
    <div id="footerBar">
        <br>
    </div>
    <br>
    <p>&copy 2017 by Monica C. Wilson, Ed.S.</p>
    <p>All Rights Reserved</p>
    <br>
    <p>Monica C. Wilson, Ed.S.</p>
    <p>1245 Queen Anne Ave. Suite 400</p>
    <p>Queen Anne, WA 98109</p>
    <p>Phone: 206-888-8888</p>
    <p>Email: QAEdAssessment@@gmail.com</p>
</div>