@{
    ViewData["Title"] = "Home Page";
}
<div id="homeContent">
    <br>
    <h2>At Queen Anne Educational Assessment,</h2>
    <div id="homeP">
        <p>we believe all children should have the opportunity to learn. All children and youth can face problems from time to time related to learning; social relationships; making difficult decisions; or managing emotions such as feeling depressed, anxious, worried, or isolated. At QAEA we strive to help students, families, educators, and members of the community understand and resolve both long-term, chronic problems and short-term issues that students may face. We are devoted to ensuring that all children and youth thrive in school, at home, and in life.</p>
        <p>Through the many services we offer, we hope to increase a child's ability to excel in school and beyond.</p>
    </div>
    <img src="/images/GirlSwing.jpg" id="pic6">
</div>
