@{
    ViewData["Title"] = "Appointments";
}

<div id="appointmentsSelect">
    <h2>Please Choose:</h2>
    <a href="/newAppointment">Schedule a New Appointment</a>
    <a href="/appointments">View Scheduled Appointments</a>
</div>