@{
    ViewData["Title"] = "About";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){

                    $("#num1").click(function(){
                        $("#num1text").slideToggle(700);
                    });
                    $("#num2").click(function(){
                        $("#num2text").slideToggle(700);
                    });
                    $("#num3").click(function(){
                        $("#num3text").slideToggle(700);
                    });
                    $("#num4").click(function(){
                        $("#num4text").slideToggle(700);
                    });
                });
            </script>
<br>
<div id="aboutContent">
<h3>QAEA was founded in 2009 with the goal of helping children excel in school through a variety of assessments and consultations</h3>
<h4 id="num4">Who is Monica C. Wilson?</h4>
<p id="num4text">Monica C. Wilson is a nationally certified school psychologist offering her services to the community at large. She has an Ed.S. degree in school psychology from Seattle University and a B.S. in Child Development from the University of Idaho. She is a member of NASP and NAEYC.</p>
<h4 id="num1">What is a school psychologist?</h4>
<p id="num1text">School psychologists are uniquely qualified members of school teams that support students' ability to learn and teachers' ability to teach. They apply expertise in mental health, learning, and behavior, to help children and youth succeed academically, socially, behaviorally, and emotionally. School psychologists partner with families, teachers, school administrators, and other professionals to create safe, healthy, and supportive learning environments that strengthen connections between home, school, and the community.</p>
<h4 id="num2">What do school psychologists do?</h4>
<p id="num2text">School psychologists provide direct support and interventions to students, consult with teachers, families, and other school-employed mental health professionals (i.e., school counselors, school social workers) to improve support strategies, work with school administrators to improve school-wide practices and policies, and collaborate with community providers to coordinate needed services.</p>
<h4 id="num3">Why do children need school psychologists?</h4>
<p id="num3text">All children and youth can face problems from time to time related to learning; social relationships; making difficult decisions; or managing emotions such as feeling depressed, anxious, worried, or isolated. School psychologists help students, families, educators, and members of the community understand and resolve both long-term, chronic problems and short-term issues that students may face. They are a highly skilled and ready resource in the effort to ensure that all children and youth thrive in school, at home, and in life.</p>

</div>
