@{
    ViewData["Title"] = "Services";
}
<div id="servicesContent">
<h2>QAEA offers the following services:</h2>
    <div id="servicesList">
        <ul>
            <li>Early Entrance Assessments</li>
            <li>Cognitive Assessments</li>
            <li>Therapy</li>
            <li>Medication</li>
            <li>Academic Tutoring</li>
            <li>SLP/OT/PT Consultations</li>
            <li>School Meeting Advocation</li>
            <li>Academic Achievement Assessments</li>
        </ul>
    </div>
    <img src="/images/GirlBoyBike.jpeg" id="pic7">
</div>